$background-primary: #F4F8FC;

$blank-primary: white;

$box-shadow-primary: rgba(20, 87, 154, 0.08);

$separator-primary: #E1E8EF;

$selected-primary: #566CFF;

$text-primary: #000;

$overlay-primary: rgba(#000, 0.35);