@import '~sass/colors';
@import '~sass/breakpoints';

.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;

    background-color: $background-primary;

    &__container {
        padding: 1rem;

        @include medium {
            padding: 2rem;
        }
    }
}